@import './variables.scss';
/* small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .home__car {
    column-gap: 2rem;
  }

  .about__card {
    width: 150px;
  }
 
  .offer__container {
    grid-template-rows: max-content 180px;
  }
  .offer__img {
    width: 340px;
  }

  .logos__container {
    gap: 2.5rem;
  }
}

/* small devices */
@media (min-width: 576px) {
  .about__group {
    width: 350px;
    justify-self: center;
  }
  
  .features__map {
    left: 0;
    right: 0;
  }
  .featured__content {
    grid-template-columns: repeat(2, max-content);
  }

  .offer__container {
    grid-template-rows: initial;
    grid-template-columns: .5fr;
    justify-content: center;
  }
  .offer__img {
    position: relative;
    bottom: initial;
    right: inherit;
  }
  .offer__data {
    margin-bottom: 4rem;
  }
}

@media (min-width: 780px) {
  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: 4rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
    padding-top: 0;
  }
  .nav__link {
    font-size: $normal-font-size;
    text-transform: initial;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__card {
    bottom: -0.2rem;
  }

  .logos__container {
    gap: 4rem 8rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .shape__big {
    width: 500px;
    height: 500px;
  }
  .shape__small {
    width: 400px;
    height: 400px;
  }


  .home__container {
    padding-top: 2rem;
  }
  .home__img {
    width: 380px;
  }
  .home__car {
    column-gap: 7rem;
  }
  .home__car-icon {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }


  .about__container{
    column-gap: 6rem;
    align-items: center;
  }
  .about__group,
  .about__img {
    width: 480px;
  }
  .about__card {
    width: 198px;
    padding: 1rem 1.25rem;
    bottom: -2rem;
  }
  .about__description {
    padding-right: 4rem;
    margin-bottom: 3rem;
  }


  .popular__container {
    width: 875px;
    padding-top: 3rem;
  }
  .popular__card {
    width: 258px;
    border-radius: 1.25rem;
    margin-left: 5rem;
  }
  .popular__img {
    width: 200px;
    margin: .75rem 0 1.25rem 1rem;
  }


  .features__img {
    width: 200px;
  }
  .features__card {
    width: 127px;
    padding: .75rem 2.5rem;
  }
  .features__card-1 {
    left: -1rem;
  }
  .features__card-2 {
    right: -2.5rem;
  }
  .features__card-3 {
    bottom: 7rem;
    left: -1rem;
  }
  .features__map {
    width: 650px;
    top: 11rem;
  }


  .featured__container {
    padding-bottom: 2.5rem;
  }
  .featured__filters {
    column-gap: 2rem;
  }
  .featured__item {
    width: 56px;
    height: 56px;
  }
  .featured__item img {
    width: 3rem;
  }
  .featured__content {
    grid-template-columns: repeat(3, max-content);
    gap: 4rem;
  }


  .offer__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
    padding-bottom: 2rem;
  }
  .offer__data,
  .offer__title {
    text-align: initial;
  }
  .offer__data {
    margin-bottom: 0;
  }
  .offer__description {
    padding-right: 6rem;
  }
  .offer__img {
    width: 500px;
  }


  .logos__container  {
    grid-template-columns: repeat(6, max-content);
  }
  .logos__img {
    width: 60px;
  }


  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__logo {
    column-gap: 1rem;
  }
  .footer__logo i {
    font-size: 5rem;
  }
  .footer__title {
    margin-bottom: 1.5rem;
  }
  .footer__links {
    row-gap: .75rem;
  }
  .footer__social-link {
    font-size: 1.5rem;
  }
  .footer__copy {
    margin-top: 8rem;
    padding-bottom: 1rem;
  }


  .scrollup {
    right: 3rem;
  }
}
