.container {
  max-width: 1400px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.main {
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: $h1-font-size;
}
.text {
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: $text-font-size;
}

.subtitle-left {
  position: relative;
  font-weight: $font-medium;
  font-size: $h3-font-size;
  display: inline-block;
  color: $text-color-light;
  text-transform: uppercase;
  letter-spacing: .4rem;
  &::before {
    content: "";
    position: absolute;
    background-color: $border-color;
    width: 80px;
    height: 2px;
    left: -6rem;
    top: 45%;
  }
}
